// Typography
// --------------------------------------------------

$base-font: Verdana, Geneva, sans-serif;
$heading-font: Century Gothic;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 24;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// Colors
// --------------------------------------------------
$base-color			: #000000; 
$body-color      	: #F5F5F5;
$text-color      	: #181818;
$comp-color 	 	: #000000; 
$border-color    	: #747474;
$white           	: #ffffff;
$black           	: #000000;
$link-color 		: #6790ab;

$primary			: #222222;
$success			: #5cb85c;
$warning			: #dd8338;
$danger				: #C64537;
$info				: #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";